.comics-details-container {
  position: relative;
  display: flex;
  margin-top: 70px;
}
.comics-details-img {
  flex: 0 0 30%;
  max-width: 30%;
  height: 450px;
}
.comics-details-img img {
  width: 293px;
  max-width: 100%;
  height: 450px;
}
.comics-details-description {
  flex: 0 0 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.comics-details-description h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.comics-details-description p {
  width: 550px;
  max-width: 100%;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.comics-details-description h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.comics-details-description div {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #9f0013;
}
.back-to-all {
  position: absolute;
  right: 5px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease-in-out;
}
.back-to-all:hover {
  color: #9f0013;
}
@media all and (max-width: 760px) {
  .comics-details-container{
    flex-direction: column;
    padding: 20px 20px;
  }
  .comics-details-img,
  .comics-details-description{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .back-to-all{
    top: -40px;
  }
}