.comics_details_container{
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
}
.comics__img__container{
  width: 30%;
  height: 100%;
}
.comics__img__container img{
  width: 293px;
  max-width: 100%;
  height: 450px;
}
.comics__description__container{
  padding: 0px 60px;
  width: 70%;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.back_to_all{
  position: absolute;
  top: 0;
  right: 5px;
  transition: var(--transition);
}
.back_to_all:hover{
  color: var(--red);
}
@media all and (max-width: 776px) {
  .comics_details_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comics__img__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comics__description__container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .back_to_all{
    top: -45px;
  }
}