.search__result__container{
  width: 100%;
  min-height: 100%;
  display: flex;
}
.search__result__image{
  width: 30%;
  height: 100%;
}
.search__result__image img{
  width: 293px;
  max-width: 100%;
  height: 293px;
}
.search__result__description{
  width: 70%;
  height: 100%;
  padding: 0px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media all and (max-width: 776px) {
  .search__result__container{
    flex-direction: column;
  }
  .search__result__image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search__result__description{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
  }
}










