* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 20px;
  padding: 0px 50px;
  position: relative;
}
#flexContainer {
  display: flex;
}
header {
  min-height: 100px;
  margin: 3px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside {
  flex: 1 1 35%;
  min-width: 350px;
  padding: 40px 0px 0px 30px;
}

#content {
  min-height: 800px;
  flex: 2 1 65%;
  margin: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px -4px 0;
  list-style: none;
  padding-top: 50px;
  gap: 40px;
}
.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.aside-photo {
  position: absolute;
  width: 367px;
  height: 272px;
  bottom: -40px;
  right: 0;
  z-index: -1;
}
.paragraph {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.heading-white {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.heading-white:hover{
  color: #9F0013;
}
.m20 {
  margin-top: 20px;
  margin-left: 20px;
  display: block;
}
.heading-black {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

@media all and (max-width: 760px) {
  body {
    padding: 0;
  }
  #flexContainer {
    flex-flow: column wrap;
  }
  header {
    min-height: 75px;
  }
  aside {
    min-height: 50px;
    order: 2;
    padding: 0;
  }
  #content {
    min-height: 725px;
    order: 3;
  }
  .aside-photo{
    display: none;
  }
}
